.post {
    background-color: #111111;
    width: 700px;
    color: rgb(255, 251, 0);
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

div img {
    width: 100%;
}
body{
    background-image:url(https://gazetaingush.ru/sites/default/files/styles/juicebox_small/public/pubs/obshchestvo/20161220-v-trete-voskresene-dekabrya-otmechaetsya-mezhdunarodnyy-den-chaya/tea-cup-lemon-mint-zpy_0.jpg?itok=ghGnz-rE);
    background-size: cover;
    margin: 0;
    
}
body.dark-theme{
    background-color: #111111;
}
.head{
    width: 100%;
    padding: 0;
    
    margin-bottom: 10px;
    display: flex;
}
.head h2{
    margin-right: 5px;
    margin-left: 5px;
}
.head h2:hover{
    color:rgb(0, 195, 255);
    cursor: pointer;
}
.head-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 5px 20px;
}

a {
    all: unset;
}
.themebutton{
    float: right;
    margin: 3px 10px 0px 10px;
    display: flex;
}
.themebutton img{
    width: 30px;
}
.like {
    float: right;
    font-size: 24px;
    user-select: none;
    display: flex;
    margin-right: 3%;
}
.plus{
    margin-right: 3px;
    color: green;
    cursor: pointer;
}
.minus{
    margin-left: 3px;
    color: red;
    cursor: pointer;
}
.comment-feed{
    margin: 0;
    margin-bottom: 12px;
}
.comment-list{
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
}
.user-comment{
    position: relative;
    display: flex;
    padding: 10px 12px;
    margin-bottom: 6px;
    margin-right: 12px;
    border-right: 2px solid;
    font-size: 14px;
    font-weight: bold;
}
.comment-form{
    display: flex;
    margin-bottom: 30px;
    padding: 20px 12px;
}
.comment-inner{
    position:relative ;
    flex-grow: 1;
    margin-right: 10px;
}
.comment-field{
    width: 98%;
    height: 30px;
    padding: 0 10px;
    border: solid;
    background-color: red;
    font: inherit;
    font-size: 14px;
    color: #51ff00;
}